{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Porównywarka pogody</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static 'weathercompare/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'weathercompare/style.css' %}">
		
		<!--[if lt IE 9]>
		<script src="{% static 'weathercompare/js/ie-support/html5.js' %}"></script>
		<script src="{% static 'weathercompare/js/ie-support/respond.js' %}"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="{% static 'weathercompare/images/logo.png' %}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Porównywarka pogody</h1>
							<small class="site-description">Zestawienie warunków atmosferycznych z różnych stron pogodowych.</small>
						</div>
					</a>


				</div>
			</div> <!-- .site-header -->

			<div class="hero" data-bg-image="{% static 'weathercompare/images/banner.jpg' %}">
				<div class="container">
					<form action="#" class="find-location">
						<input type="text" placeholder="Find your location...">
						<input type="submit" value="Find">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">

						{% for item in list %}
						<div class="forecast">
							<div class="forecast-header">
								<div class="degree">{{item.0}}</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								{{item.1}}
							</div>
							<div class="forecast-content">
								{{item.2}}
							</div>
							<div class="forecast-content">
								{{item.3}}
							</div>
							<div class="forecast-content">
								{{item.4}}
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
			<main class="main-content">

			</main> <!-- .main-content -->
		</div>
		
		<script src="{% static 'weathercompare/js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'weathercompare/js/plugins.js' %}"></script>
		<script src="{% static 'weathercompare/js/app.js' %}"></script>
		
	</body>

</html>